<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		checkbox
		<form id="form"></form>
		<div class="">
			<label>Ad-ons</label>
			<input
				value="0.00"
				readonly="readonly"
				type="number"
				step="0.00"
				name="Adons" />
		</div>
		<div class="">
			<label>Extras</label>
			<input
				value="0.00"
				readonly="readonly"
				type="number"
				step="0.00"
				name="Extras" />
		</div>
		<div class="">
			<labe id="tots">Total</labe>
			<input
				value="0.00"
				readonly="readonly"
				type="number"
				name="TotalValue" />
		</div>
	</body>
</html>
<script src="../js/checkbox.js"></script>
